# default configuration options for all environments
default:
  # Outgoing emails configuration
  # See the examples below and the Rails guide for more configuration options:
  # http://guides.rubyonrails.org/action_mailer_basics.html#action-mailer-configuration
  email_delivery:
    delivery_method: :smtp
    smtp_settings:
      address: {{ redmine_mail_config.address }}
      port: {{ redmine_mail_config.port }}
      authentication: {{ redmine_mail_config.authentication }}
      domain: {{ redmine_mail_config.domain }}
      user_name: {{ redmine_mail_config.user_name }}
      password: {{ redmine_mail_config.password }}
      openssl_verify_mode: {{ redmine_mail_config.openssl_verify_mode }}
